<div>
  {{title}}
  Current Route: {{currentRoute}}
  <nav>
    <ul>
      <li><a routerLink="angular-examples" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
      <li><a routerLink="angular-examples/content-child" routerLinkActive="active" ariaCurrentWhenActive="page">Content Child Example</a></li>
      <li><a routerLink="angular-examples/content-children" routerLinkActive="active" ariaCurrentWhenActive="page">Content Children Example</a></li>
      <li><a routerLink="angular-examples/form" routerLinkActive="active" ariaCurrentWhenActive="page">Form Example</a></li>
      <li><a routerLink="angular-examples/single-file" routerLinkActive="active" ariaCurrentWhenActive="page">Single File Example</a></li>
      <li><a routerLink="angular-examples/two-way-data-binding" routerLinkActive="active" ariaCurrentWhenActive="page">Two-way Data Binding Example</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>